Flask==3.0.3
Flask-Cors==4.0.1
pymongo[srv]==4.7.2
python-dotenv==1.0.1
PyJWT==2.8.0
Flask-Limiter==3.7.0
Werkzeug==3.0.3
email-validator==2.1.1
certifi>=2024.2.2
gunicorn==20.1.0
setuptools>=65.0.0
wheel
dnspython>=2.0.0
